header.header
  .container
    .header_left
      .logo
        img(src="assets/img/viking.png", alt="").logo__img
        .logo__text Loftschool web advanced
    .header__right
      .logo-school
        img(src="assets/img/logo-hor.png", alt="").logo-school__pic